#dt-filter-select1 th {
    font-size: 14px;
    /* Adjust the font size as needed */
    text-align: center;
    width: 150px !important;
  
  }
  
  .container {
    width: 95%;
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* styles.scss or your.component.scss */
  
  .card {
    border: none !important;
    border-radius: 15px !important;
    overflow: hidden !important;
  }
  
  .card-header {
    background: linear-gradient(to right, #3498db, #2c3e50) !important;
    /* Adjust colors as needed */
    color: white !important;
    padding: 20px !important;
    border-bottom: none !important;
  }
  
  .card-title {
    font-size: 2.5rem !important;
    margin-bottom: 0 !important;
  }
  
  .lead {
    font-size: 1.2rem !important;
  }
  
  .d-flex {
    flex-direction: column !important;
    /* Change to row for larger screens */
    justify-content: center !important;
    align-items: center !important;
  }
  
  .d-none {
    display: none !important;
  }
  
  
  
  table {
    margin-top: 20px !important;
    border-collapse: collapse !important;
    background-color: #fff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  }
  
  .truncate-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    /* Adjust as needed */
  }
  
  :host ::ng-deep .p-sortable-column-icon {
    color: #1563b0 !important;
  }
  
  tr td {
    padding: 5px !important;
    font-size: 14px !important;
    text-align: center !important;
    /* white-space: nowrap; */
    /* This prevents text from wrapping to the next line */
    /* overflow: hidden; */
    /* This hides the overflowed text */
    /* text-overflow: ellipsis; */
    /* This displays an ellipsis (...) when text overflows */
    /* vertical-align: middle !important; */
    /* Vertically center the text */
  }
  
  th {
  
    background-color: #CBCACA !important;
    /* Header background color */
    color: #1563b0 !important;
    padding: 5px;
    text-align: center;
    /* Vertically center the text */
  }
  
  
  tr td {
    border-bottom: 1px solid #ecf0f1 !important;
    /* Border color between rows */
  }
  
  /* Responsive styles for smaller screens */
  @media (min-width: 768px) {
    .d-flex {
      flex-direction: row !important;
      /* Change back to row for larger screens */
    }
  
  }
  
  
  
  td .bi {
    font-size: 20px !important;
    margin: 0 8px !important;
    cursor: pointer !important;
  }
  
  :host ::ng-deep .p-dropdown {
    text-align: center;
  }
  
  :host ::ng-deep .p-dropdown-panel ul {
    padding: 0;
    text-align: center;
  }
  
  
  /* Override the color for the odd rows */
  :host ::ng-deep .p-datatable-striped .p-datatable-tbody>tr:nth-child(odd) {
    background-color: #F2F2F2;
    /* Light gray color for odd rows */
  }
  
  /* Override the color for the even rows */
  :host ::ng-deep .p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  :host ::ng-deep .p-datatable-gridlines .p-datatable-tbody>tr {
    border-bottom: 1px solid #ddd;
  }
  
  :host ::ng-deep .p-datatable-gridlines .p-datatable-tbody>tr>td {
    border-right: 1px solid #ddd;
  }
  
  :host ::ng-deep .p-datatable-header {
    background-color: #fff;
    border: none;
  }
  
  :host ::ng-deep .p-datatable-gridlines .p-datatable-tbody>tr>td {
    border-right: 1px solid #ddd;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .ro {
    font-size: 14px;
    color: rgb(33, 37, 41);
    font-weight: 400;
  }
  
  .search {
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #000;
  }
  
  td {
    padding: 5px !important;
  }

  .custom-checkbox {
    width: 20px;   /* Set your desired width */
    height: 20px;  /* Set your desired height */
    cursor: pointer;  /* Change cursor on hover */
}

